{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	|
							Modification de l'auteur
	{{ auteur.prenom }}
	{{ auteur.nom }}
{% endblock %}
{% block body %}
	<section class="container mt-4">
		<h1 class="text-center">Modification de l'auteur
			{{ auteur.prenom }}
			{{ auteur.nom }}</h1>
		{% include 'Frontend/auteur/_form.html.twig' with {button_label: 'Modifier'} %}
		<a href="{{ path('app.auteur.index') }}" class="btn btn-secondary mt-4">Retour à la liste</a>
	</section>
{% endblock %}
